In [1]:
import pandas as pd
import numpy as np

In [2]:
#Creating 4 series 
s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))

In [3]:
#Creating dataframe with the series 
df = pd.DataFrame([s1,s2,s3,s4])

In [4]:
df

          0         1         2         3
0  0.187061  0.188363  0.747575  0.695893
1  0.254274  0.299130  0.962590  0.856442
2  0.075912  0.983404  0.214899  0.694236
3  0.240046  0.765897  0.845893  0.030169

In [5]:
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.187061        0.188363        0.747575        0.695893
1        0.254274        0.299130        0.962590        0.856442
2        0.075912        0.983404        0.214899        0.694236
3        0.240046        0.765897        0.845893        0.030169

In [6]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.189323        0.559199        0.692739        0.569185
std          0.080950        0.377637        0.330461        0.367309
min          0.075912        0.188363        0.214899        0.030169
25%          0.159274        0.271439        0.614406        0.528219
50%          0.213554        0.532514        0.796734        0.695065
75%          0.243603        0.820274        0.875067        0.736030
max          0.254274        0.983404        0.962590        0.856442

In [7]:
#Finding null values
df.isnull().all()

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

In [8]:
#Checking the datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [12]:
#Display given columns with location and index location method
df.loc[0:3, 'Random value 2': 'Random value 3']

   Random value 2  Random value 3
0        0.188363        0.747575
1        0.299130        0.962590
2        0.983404        0.214899
3        0.765897        0.845893

In [13]:
df.iloc[:, [1, 2]].head()

   Random value 2  Random value 3
0        0.188363        0.747575
1        0.299130        0.962590
2        0.983404        0.214899
3        0.765897        0.845893